<div class="p-3">
    <a href="/" onclick="return false;" (click)="SetRouteValue(categoryItem)">
        <!-- [routerLink]="['category', categoryItem.Category]" -->
        <mat-card class="card-picture" style="border-top-left-radius:3em; padding: 0px;">
            <mat-card-title style="display: grid;">
                <img class="category" src="../assets/img/product/feature/{{categoryItem.ImgPath}}">
            </mat-card-title>
        </mat-card>
    </a>
</div>
<br>
<div class="productName">{{categoryItem.PName}}</div>