/* a {
    background: orange;
    background: palegoldenrod;
    background: palegreen;
    background: peachpuff;
    background: rosybrown;
    background: salmon;
    background: sandybrown;
} */

mat-card.mat-card {
    width: 220px;
}