<ngb-carousel *ngIf="images" interval="2000">
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <!-- <img [src]="images[2]" alt="Random first slide"> -->
                <mat-card style="background: orange;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[0]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegoldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: peachpuff;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: rosybrown;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: salmon;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <!-- <img [src]="images[2]" alt="Random first slide"> -->
                <mat-card style="background: orange;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon> {{categories[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: peachpuff;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: rosybrown;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[6]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: salmon;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegoldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <!-- <img [src]="images[2]" alt="Random first slide"> -->
                <mat-card style="background: orange;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: peachpuff;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: rosybrown;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[6]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: salmon;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegoldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <!-- <img [src]="images[2]" alt="Random first slide"> -->
                <mat-card style="background: orangered;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: goldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palevioletred;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: royalblue;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: skyblue;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{categories[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{categories[0]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
</ngb-carousel>


<!-- <mat-card  style="background: aquamarine;border-radius: 10px;">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
        <mat-card-content> Baby Care </mat-card-content>
    </mat-card-title>
</mat-card> -->