<ngb-carousel *ngIf="images" interval="2000">
    <ng-template ngbSlide *ngFor="let item of categories">
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[0]]">
                    <mat-card style="background: orange;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                            <mat-card-content>
                                <mat-icon> fastfood </mat-icon>
                                {{item[0]}}
                            </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[1]]">
                    <mat-card style="background: #f44336;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                            <mat-card-content>
                                <mat-icon> local_dining </mat-icon>
                                {{item[1]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[2]]">
                    <mat-card style="background: #28a745;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                            <mat-card-content>
                                <mat-icon> fastfood </mat-icon>
                                {{item[2]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[3]]">
                    <mat-card style="background: #17a2b8;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                            <mat-card-content>
                                <mat-icon> local_dining </mat-icon>
                                {{item[3]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[4]]">
                    <mat-card style="background: rosybrown;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                            <mat-card-content>
                                <mat-icon> local_dining </mat-icon>
                                {{item[4]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['category', item[5]]">
                    <mat-card style="background: salmon;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                            <mat-card-content>
                                <mat-icon> fastfood </mat-icon>
                                {{item[5]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>
        </div>
    </ng-template>

</ngb-carousel>

<!-- <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <a [routerLink]="['search', item[3]]">
                    <mat-card style="background: orange;border-radius: 10px;">
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                            <mat-card-content>
                                <mat-icon> fastfood </mat-icon>
                                {{item[2]}} </mat-card-content>
                        </mat-card-title>
                    </mat-card>
                </a>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon> {{item[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: peachpuff;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: rosybrown;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[6]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: salmon;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegoldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">              
                <mat-card style="background: orange;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: peachpuff;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: rosybrown;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[6]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: salmon;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegoldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">

                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">               
                <mat-card style="background: orangered;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[5]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>

            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: goldenrod;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[4]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palevioletred;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[3]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: royalblue;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[2]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: skyblue;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> fastfood </mat-icon>
                            {{item[1]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <mat-card style="background: palegreen;border-radius: 10px;">
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column">
                        <mat-card-content>
                            <mat-icon> local_dining </mat-icon>
                            {{item[0]}} </mat-card-content>
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
    </ng-template> -->