.mat-card-content {
    /* height: 100%; */
    width: 1000px;
    text-align: center;
    font-size: 23px;
    color: white;
}

mat-icon {
    color: white;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    /* position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;   
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease; */
}