<div class="row">
    <div class="col-12">
        <div class="header">
            <div class="over-line">
                <div class="row " fxLayoutAlign="space-evenly">
                    <div class="col-lg-2">
                        <a routerLink="" onclick="return false;">
                            <mat-icon mat-icon-button id="menu" (click)="navService.openNavMenu()"> menu </mat-icon>
                        </a>
                        <a routerLink=""><img class="img" src="../assets/img/product/header/Logo.jpg"></a>
                    </div>
                    <input [pCategoryName]="pCategoryName" [(ngModel)]="pCategoryName" #myInput (input)="Search()" class="col-lg-7" type="text" placeholder="Search for products (e.g. eggs, milk, alu)">

                    <div class="col-lg-1 signin-cart">
                        <mat-icon (click)="navService.openNavCart()" [matBadge]="totalItem" matBadgeColor="warn">add_shopping_cart</mat-icon>
                        <span class="cdk-visually-hidden" (click)="navService.openNavCart()"> </span>
                    </div>
                    <div class="enbn  col-lg-1">
                        <span> En | Bn </span>
                    </div>
                    <div class="col-lg-1 signin">
                        <span *ngIf="!logincondition" (click)="PhoneLogin()"> Signin </span>
                        <span *ngIf="logincondition" class="dropdown">
                    <!-- <mat-icon> person_pin </mat-icon>  -->
                    <i class="fa fa-user-circle"> </i>  <span> {{userName}} </span>
                        <div class="dropdown-content text-left">
                            <!-- (click)="alertService.success('Success!!', options)" -->
                            <button class="btn btn-success m-1">Success</button>
                            <a href="myprofile" class="fa fa-user-circle"> &nbsp; My Profile </a>
                            <a href="myorders" class="fa fa-reorder"> &nbsp; My Orders </a>
                            <a href="account-history" class="fa fa-history"> &nbsp; Payment Histry</a>
                            <a href="customer/changepassword" class="fa fa-key"> &nbsp; Change Password</a>
                            <a href="/" class="fa fa-sign-out" (click)="logout()"> &nbsp; Logout </a>
                        </div>
                        </span>
                    </div>
                </div>

                <div id="menucart" mat-icon-button (click)="navService.openNavCart()">
                    <mat-icon> shopping_basket </mat-icon>
                    <br>
                    <label> {{totalItem}} items </label>
                    <div class="pricecrt">
                        <label> Tk. {{totalAmounts}} </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-cart></app-cart> -->
<div id="cartnav" class="sidepanel addcart" style="position:relative;right: 100%; margin-top: 25px;">
    <mat-label class="mat-lebal">{{totalItem}} Items</mat-label>
    <a href=" javascript:void(0)" class="closebtn" (click)="navService.openNavCart()">&times;</a>
    <mat-card class="card-picture ">
        <nav class="nav nav-info ">
        </nav>

        <div class="mat-elevation-z8 ">
            <h5 class="h5">
                <mat-icon matBadgeColor="warn">directions_run </mat-icon> Express Delivery
            </h5>
            <div *ngIf="totalItem">
                <table>
                    <thead>
                        <tr class="tr">
                            <th colspan="3">&nbsp; You have reduced delivery charge </th>
                            <th colspan="2"> 20 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of _cartItems; index as itemed" class="tr">

                            <td title="add one more to bag" class="td">
                                <mat-icon (click)="onAddToBag(item)">add_circle</mat-icon>
                                <br> {{ item.Qty }}
                                <br>
                                <mat-icon (click)="RemoveProductFromCart(item, false)">remove_circle</mat-icon>
                            </td>
                            <td> <img class="img-cart" src="../assets/img/product/feature/{{item.ImgPath}}"></td>
                            <td>{{ item.PName}}</td>
                            <td>{{ item.Qty * item.UnitPrice | currency: 'BD '}} </td>
                            <td title="remove from bag" class="td" (click)="RemoveFromCart(itemed)">
                                <span class="icon"> {{ item.Close }} </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!totalItem" class="emptyCart">
                <div>
                    <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-504/Default/components/header/ShoppingCart/images/emptyShoppingBag.png?q=low&webp=1&alpha=1">
                </div>
                <span style="padding: 10px;">Your shopping bag is empty. Start shopping</span>
            </div>
        </div>
    </mat-card>

    <h6 *ngIf="totalItem" class="text-center">
        <div>
            <mat-button-toggle-group (click)="PlaceOrder(totalAmounts)" color="accent" [totalPrice]="totalAmounts " name="fontStyle " aria-label="Font Style ">
                <mat-button-toggle value="italic" class="order">
                    Place Order </mat-button-toggle>
                <mat-button-toggle value="underline" class="price">Tk. {{totalAmounts}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </h6>
</div>

<div id="menunav" class="sidepanelmenu addcartMenu" style="width: 245px;">
    <mat-nav-list>
        <app-menu *ngFor="let item of navItems" [item]="item"> </app-menu>
    </mat-nav-list>
    <!-- <br>
    <hr>
    <div>
        HHHHHHHHH
        <iui-treeview [items]="items" [controlStyle]="ctrlStyle">
            <ng-template let-item>
                <div (mouseenter)="hoverItem=item" (mouseleave)="hoverItem=null">
                    <span [ngClass]="item.icon"></span>
                    <span class="treeview-pec-item-content">{{item.text}}</span>
                    <div class="treeview-pec-toolbar" *ngIf="item.locked || item==hoverItem">
                        <span class="treeview-pec-item-button treeview-pec-item-button-lock" [ngClass]="{ 'treeview-pec-item-button-lock': item.locked, 'treeview-pec-item-button-unlock': !item.locked && item.items && item.items.length > 0 }" (click)="lock(item)"></span>
                    </div>
                </div>
            </ng-template>
        </iui-treeview>
    </div> -->
</div>