<div class="ModalDialogContainer">
    <div class="ModalDialog">
        <label mat-dialog-title class="text-center h4"> Login 
            <span mat-button mat-dialog-close [cdkFocusInitial] (click)="onNoClick()">X</span> </label>
        <div mat-dialog-content>
            <div class="actions">
                <button class="btn btn-info col-12">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
                     Face book Login 
                </button>
            </div>
            <div class="actions">
                <button class="btn btn-info col-12">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                     Email Login 
                </button>
            </div>
            <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <div class="actions">
                    <span>
                    <mat-form-field class="example-full-width col-lg-12">
                        <span matPrefix>+880&nbsp;</span>
                    <input type="tel" matInput placeholder="e.g.1704 164 912" #line="ngModel" name="line" ngModel [(ngModel)]="phoneNumber.line" minlength="10" maxlength="10" required>
                    <mat-icon matSuffix>add_to_home_screen</mat-icon>
                    <mat-error *ngIf="line.invalid"> Please enter 10 number. </mat-error>
                    </mat-form-field>
                    <div id="recaptcha-container"></div>
                    <!-- style="display: none;" -->
                    </span>
                    <hr>
                    <!-- windowRef.confirmationResult -->
                    <div>
                        <label for="code"> Enter your Verification Code Here </label><br>
                        <input type="text" #code="ngModel" name="code" ngModel [(ngModel)]="verificationCode">
                        <button (click)="verifyLoginCode()">Verify</button>
                    </div>
                </div>
                <hr>
                <div class="actions">
                    <button (click)="sendLoginCode()" class="btn btn-danger col-12" type="submit">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon>
                        SIGN UP / LOGIN
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 
<label for="phone"> Phone Number </label><br>
<input type="text" value="+880" #line="ngModel" name="line" ngModel [(ngModel)]="phoneNumber.line" class="input col-12" placeholder="880 1704 164 912" maxlength="13"> -->


<!-- <mat-form-field class="example-full-width">
                    <mat-label>Phone Number </mat-label>
                    <input matInput value="+880"
                    #line="ngModel" name="line" ngModel [(ngModel)]="phoneNumber.line" 
                    class="input col-12" placeholder="880 1704 164 912" maxlength="13"
                    >
                </mat-form-field> -->