<div class="ModalDialogContainer_">
    <div class="ModalDialog">
        <label mat-dialog-title class="text-center h4"> Login <span style="text-align: right; padding-left: 250px;" mat-button mat-dialog-close cdkFocusInitial>X</span> </label>
        <div mat-dialog-content>
            <div class="actions">
                <button class="btn btn-info col-12">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
                     Face book Login 
                </button>
            </div>
            <div class="actions">
                <button class="btn btn-info col-12">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                     Email Login 
                </button>
            </div>
            <!-- <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"> -->
            <!-- <mat-form-field class="example-full-width search">
                    <mat-label> Search Item </mat-label>
                    <input matInput placeholder="Search for products (e.g. eggs, milk, alu)">
                    <mat-error> </mat-error>
                </mat-form-field> -->
            <div class="actions">
                <label for="phone"> Phone Number </label><br>
                <input type="text" #line="ngModel" name="line" ngModel [(ngModel)]="phoneNumber.line" class="input col-12" placeholder="880 1704 164 912" maxlength="13">
                <div id="recaptcha-container" style="display: none;"></div>

                <div *ngIf="windowRef.confirmationResult">
                    <hr>
                    <label for="code"> Enter your Verification Code Here </label><br>
                    <input type="text" #code="ngModel" name="code" ngModel [(ngModel)]="verificationCode">
                    <button (click)="verifyLoginCode()">Verify</button>
                </div>
            </div>
            <hr>
            <div class="actions">
                <button (click)="sendLoginCode()" class="btn btn-danger col-12" type="submit">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon>
                        SIGN UP / LOGIN
                    </button>
            </div>
            <!-- </form> -->
        </div>
        <!-- <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
        </div> -->

    </div>
</div>