<app-header></app-header>
<mat-sidenav-container style="margin-top: 50px; height: 93.25vh;">
    <mat-sidenav #appDrawer mode="over" opened="false">
        <!-- {{media.isActive('gt-sm') ? 'side' : 'over'}} -->
        <mat-nav-list>
            <app-menu *ngFor="let item of navItems" [item]="item"> </app-menu>
        </mat-nav-list>
    </mat-sidenav>
    <alert></alert>
    <router-outlet></router-outlet>
    <div fxFlex>
        <!-- <button (click)="greetStudent()"> Greet Student </button>
        <button (click)="appreciateStudent()"> Appreciate Student </button> -->
    </div>
    <app-footer></app-footer>
</mat-sidenav-container>







<!-- <div class="">    
    <app-header></app-header>
    <router-outlet> </router-outlet>
    <alert></alert>
    <app-footer></app-footer>
</div> -->