<!-- <div class="wrapper">
    <header class="main-header">
        <nav class="navbarnavbar-static-top" role="navigation"> AAAAAWS </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <tree-view-menu>Loading...</tree-view-menu>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
    <footer class="main-footer"> </footer>
</div> -->



<div class="">
    <app-header></app-header>
    <alert></alert>

    <router-outlet> </router-outlet>
    <app-footer></app-footer>

</div>