<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false">
        <mat-nav-list style="margin-top: 50px;">
            <app-menu *ngFor="let item of navItems" [item]="item"> </app-menu>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
    <div class="clearfix"></div>
    <alert></alert>
</mat-sidenav-container>

<!-- {{media.isActive('gt-sm') ? 'side' : 'over'}} -->





<!-- <div class="">    
    <app-header></app-header>
    <router-outlet> </router-outlet>
    <alert></alert>
    <app-footer></app-footer>
</div> -->