<div class="container">
    <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }} </div>
    <div fxLayoutGap="0.2%" style="margin-top: 55px;">

        <!-- Product Entry -->
        <mat-card class="card-picture">
            <h5 class="h5"> Total Price: {{totalPrice}} </h5>
            <br>
            <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">

                    <mat-icon fxFlex="5%" (click)="onClear()"> clear </mat-icon>
                    <span fxFlex="100%" class="text-center"> Checkout </span>
                    <button mat-raised-button [disabled]="userForm.form.invalid" style="background-color:transparent;">
                        <mat-icon fxFlex="5%"> done </mat-icon>
                    </button>
                </mat-card-title>
                <hr>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon fxFlex=""> location_on </mat-icon> Delivery Address
                            </mat-panel-title>
                            <mat-panel-description> Type your delivery address details </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <textarea #address='ngModel' ngModel [(ngModel)]="userForm.Address" name="address" required matInput ngModel atInput></textarea>
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <mat-label>Age</mat-label>
                            <input matInput type="number" min="1">
                        </mat-form-field> -->
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon fxFlex=""> watch_later </mat-icon>
                                Preferred Timings
                            </mat-panel-title>
                            <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Time</mat-label>
                            <input #daytime='ngModel' ngModel [(ngModel)]="userForm.DeliveryTime" name="daytime" required matInput type="time" min="1">
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>

                <label class="col-lg-12" style="padding-top: 50px;"> Payment options available on the next
                    page <a class="text-right offset-5">৳ 20 Delivery charge included</a>
                </label>

                <h5 class="text-right">
                    <!-- <a href="/payment"> -->
                    <div class="output-size">
                        <mat-button-toggle-group (click)="onSubmit(userForm)" [disabled]="userForm.form.invalid" color="accent" name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle type="submit" class="btn-large" value="submit" class="order"> Process
                            </mat-button-toggle>
                            <mat-button-toggle type="submit" value="submit" class="price">Tk. {{totalPrice}}
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <!-- </a> -->
                    <span style="font-size: 10px">By clicking/tapping proceed, I agree to E-commerce's <a href="#"
                            target="_blank">Terms of Services</a></span>
                </h5>
            </form>
        </mat-card>

    </div>
</div>