<ngb-carousel #carousel interval="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
            <h4>Big Sale {{i + 1}}5 % Off </h4>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
                <img [src]="img" alt="My image {{i + 1}} description" style="height: 350px;">
            </div>
        </a>
    </ng-template>
</ngb-carousel>
<hr>




<!-- <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <div class="container">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="row">
                <div class="carousel-caption">
                    <h3>Big Sale {{i + 1}} 5 % Off </h3>
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper col-lg-4">
                        <img [src]="img" alt="My image {{i + 1}} description" style="height: 500px;">
                    </div>
                </a>
                <div class="carousel-caption">
                    <h3>Summer Sale {{i + 1}} 5 % Off </h3>
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper col-lg-4">
                        <img [src]="img" alt="My image {{i + 1}} description" style="height: 500px;">
                    </div>
                </a>
                <div class="carousel-caption">
                    <h3>Other Sale {{i + 1}} 5 % Off </h3>
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper col-lg-4">
                        <img [src]="img" alt="My image {{i + 1}} description" style="height: 500px;">
                    </div>
                </a>
            </div>
        </ng-template>
    </div>
</ngb-carousel> -->


<hr>


<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div id="imageCarousel" class="carousel slide" data-interval="2000" data-ride="carousel" data-pause="hover" data-wrap="true">

                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="https://picsum.photos/id/83/900/500" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Desert</h3>
                                    <p>Desert Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="https://picsum.photos/id/83/900/500" chicago.jpg class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Jellyfish</h3>
                                    <p>Jellyfish Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="https://picsum.photos/id/83/900/500" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Penguins</h3>
                                    <p>Penguins Image Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="Images/Lighthouse.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Lighthouse</h3>
                                    <p>Lighthouse Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="Images/Hydrangeas.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Hydrangeas</h3>
                                    <p>Hydrangeas Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="Images/Koala.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Koala</h3>
                                    <p>Koala Image Description</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="Images/tulips.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Tulips</h3>
                                    <p>Tulips Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="Images/Chrysanthemum.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Chrysanthemum</h3>
                                    <p>Chrysanthemum Image Description</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <img src="Images/stripes.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Stripes</h3>
                                    <p>Stripes Image Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>
</div> -->

<!-- <hr>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
    <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
    <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
    <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
    {{paused ? 'Cycle' : 'Pause' }}
  </button> My slide 1 title My image 1 description -->


<!-- ============================= -->

<!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide">
        </div>
        <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
        </div>
    </ng-template>
</ngb-carousel>

<hr>

<div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
</div> -->