<div class="row col-lg-12 bg-info p-1" fxLayoutAlign="space-evenly center">
    <label class="col-lg-1">
        <mat-icon fxFlex="5%" (click)="onClear()" style="color: whitesmoke;"> &nbsp; home </mat-icon>
        <br> 
         Home
    </label>
    <label class="col-lg-1">
        <mat-icon fxFlex="5%" (click)="onClear()" style="color: whitesmoke;"> &nbsp; &nbsp; message </mat-icon>
        <br>
        Message
    </label>
    <label class="col-lg-1">
        <mat-icon fxFlex="5%" (click)="onClear()" style="color: whitesmoke;"> &nbsp; add_shopping_cart </mat-icon>
        <br>
        Card
    </label>
    <label class="col-lg-1">
        <mat-icon fxFlex="5%" (click)="onClear()" style="color: whitesmoke;"> &nbsp; &nbsp; account_circle
        </mat-icon>
        <br>
        Account
    </label>

    <small>
        <span class="version-info">Current build version : {{version.full ? version.full : version}}</span> 
        <br>       
        &copy; Copyright 2020, T Mart Corporation
    </small>
</div>