<div class="col-lg-12">
    <section class="container social-media-section">
        <div class="row social-button-field offset-3">
            <div class="social-button">
                <a href="{{Facebook}}" target="_blank">
                    <img class="summary-img" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-518/Default/stores/chaldal/components/page/RecipeComponent/images/FB_Share_Button.png?q=best&amp;webp=1" data-reactid=".kw3nly7efy.6.2.0.0.6.0.$list0.0.0"></a>
            </div>
            <div class="social-button">
                <a href="{{Twtter}}" target="_blank">
                    <img class="summary-img" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-518/Default/stores/chaldal/components/page/RecipeComponent/images/Twitter_Share_Button.png?q=best&amp;webp=1" data-reactid=".kw3nly7efy.6.2.0.0.6.0.$list1.0.0"></a>
            </div>
            <div class="social-button">
                <a href="{{Whatapps}}" target="_blank">
                    <img class="summary-img" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-518/Default/stores/chaldal/components/page/RecipeComponent/images/Whatsapp_Share_Button.png?q=best&amp;webp=1" data-reactid=".kw3nly7efy.6.2.0.0.6.0.$list2.0.0"></a>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-banner">
            <div class="banner row">
                <div class="col-lg-4 col-md-3 col-sm-2 left-area">
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/stores/chaldal/components/page/BrandComponent/images/1-hour.png?q=low&amp;webp=1&amp;alpha=1">
                <span> 1 hour delivery </span>
                    </span>
                    <span>
                    <img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/stores/chaldal/components/page/BrandComponent/images/cash-on-delivery.png?q=low&amp;webp=1&amp;alpha=1">
                <span> Cash on delivery </span>
                    </span>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-2 right-area">
                    <span class="text"> Pay with </span>
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/Amex.png?q=low&amp;webp=1&amp;alpha=1"></span>
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/mastercard.png?q=low&amp;webp=1&amp;alpha=1"></span>
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/VIsa.png?q=low&amp;webp=1&amp;alpha=1"></span>
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/bkash.png?v=1&amp;q=low&amp;webp=1&amp;alpha=1"></span>
                    <span><img class="icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/COD.png?v=1&amp;q=low&amp;webp=1&amp;alpha=1"></span>
                </div>

            </div>
        </div>
        <div class="banner row">
            <div class="footer-left col-lg-8 col-md-6 col-sm-2">
                <h3 class="footerLogo">
                    <a href="/" onclick="return false;">
                        <img class="icon" src="../assets/img/product/header/Logo.jpg" alt="Tmart.com">
                    </a>
                </h3>
                <p style="margin-top:10px;">{{Text}}</p>
            </div>
            <hr>
            <div class="footer-right col-lg-4 col-md-3 col-sm-2">
                <div class="app-download-section">
                    <div class="wrap row">
                        <div class="google_play_store">
                            <a href="#">
                                <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/google_play_store.png?q=low&amp;webp=1&amp;alpha=1" data-reactid=".20tlq6dugeo.6.2.0.0.c.2.0.0.0.0.1">
                                <span> </span>
                            </a>
                        </div>
                        &nbsp; &nbsp;
                        <div class="app_store">
                            <a href="#">
                                <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/app_store.png?q=low&amp;webp=1&amp;alpha=1" data-reactid=".20tlq6dugeo.6.2.0.0.c.2.0.0.1.0.1">
                                <span> </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact-section">
                    <div class="phone-number">
                        <div class="wrap">
                            <img class="phoone-icon" src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/phone_icon.png?q=low&amp;webp=1&amp;alpha=1">
                            <span class="number">{{Mobile}}</span>
                        </div>
                    </div>
                    <div class="email-address"><span class="pre-text">or email</span>
                        <span class="email">{{Support}}</span></div>
                </div>

                <div class="social-section row">
                    <div>
                        <a href="{{Youtube}}" target="_blank">
                            <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/Youtube.png?q=low&amp;webp=1&amp;alpha=1">
                        </a>
                    </div>
                    <div>
                        <a href="{{Facebook}}" target="_blank">
                            <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/Facebook.png?q=low&amp;webp=1&amp;alpha=1" data-reactid=".20tlq6dugeo.6.2.0.0.c.2.2.0.$sl-https=2//www=1facebook=1com/chaldalcom.0.1">
                        </a>
                    </div>
                    <div>
                        <a href="{{Twtter}}" target="_blank">
                            <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/twitter.png?q=low&amp;webp=1&amp;alpha=1">
                        </a>
                    </div>
                    <div>
                        <a href="{{Instagram}}" target="_blank">
                            <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-517/Default/components/shared/NewFooter/images/Instagram.png?q=low&amp;webp=1&amp;alpha=1 ">
                        </a>
                    </div>
                    <div>{{SettingModel | json}}</div>
                </div>
            </div>
        </div>
    </footer>

    <div class="row col-lg-12 bg-info p-1" fxLayoutAlign="space-evenly center">
        <label class="col-3">
        <h5>Customer Service</h5>
         <br> 
        <a routerLink="/tmart/contact"> Contact us </a>
         <br> 
         <a routerLink="/tmart/faq"> FAQ </a>
         </label>

        <label class="col-2">
            <h5> About T Mart </h5>
            <br> 
           <a routerLink="/tmart/policy"> Privacy Policy </a>
            <br> 
            <a routerLink="/tmart/terms"> Terms of Use </a>
        </label>

        <label class="col-2"> 
            <h5> For Business </h5>
            <br> 
           <a routerLink="/tmart/corporate"> Corporate </a>
           <br>  
           <br>  
           
    </label>
        <label class="col-3">  
        <small>
        <span class="version-info ">Current build version : {{version.full ? version.full : version}}</span> 
        <br>       
        &copy; Copyright 2020, T Mart Corporation
        </small>
    </label>
    </div>
</div>