.details {
    background: lightgreen;
    border: solid 1px green;
    width: 33vw;
    text-align: center;
}

.details:hover {
    border: solid 1px #ff5722;
    background: lightgreen;
    width: 33vw;
    text-align: center;
}

.address {
    width: 33vw;
    text-align: center;
}

.submited {
    background: #ff5722c7;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    border: solid 1px orangered;
}

.submited:hover {
    background: #ff5722;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    border: solid 1px orangered;
}

.onway {
    background: lightgreen;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    border: solid 1px green;
}

.onway:hover {
    border: solid 1px #ff5722;
    background: lightgreen;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
}

.completed {
    background: green;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    border: solid 1px lightgreen;
}

.completed:hover {
    cursor: pointer;
}

.details {
    cursor: pointer;
}

.completed:hover {
    border: solid 1px #ff5722;
    background: lightgreen;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
}

.cancled {
    background: lightgray;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    border: solid 1px gray;
}

.top-55 {
    margin-top: 55px;
}

.tr {
    border-bottom: solid 1px #f8f891;
}

.th {
    width: 30px;
}

.td {
    text-align: center;
}

img {
    width: auto;
    height: auto;
}

.img {
    width: 40px;
    height: 40px;
    margin: 5px 0 0 30px;
}

.img-cart {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.tbody {
    border: solid 1px lightgray;
    background: #f1efef;
}

.clearfix {
    background: white;
    color: white;
}

.alert-danger:hover {
    color: #721c24;
    background-color: #f4433696;
    border-color: #dc3545;
}