<div class="col-12 top-55">
    <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }} </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">

        <!-- Product Entry -->
        <mat-card class="card-picture">
            <h5 class="h5"> My Orders {{OrderNo}} </h5>
            <br>
            <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="100%" class="text-center"> Order List </span>
                </mat-card-title>
                <hr>
                <div>
                    <table>
                        <tbody *ngFor="let item of orsers; index as itemed" class="tbody">
                            <tr class="clearfix">
                                .
                            </tr>
                            <tr>
                                <div class="completed"> Complete </div>
                            </tr>
                            <tr class="tr">
                                <div class="orderNo">Order # {{ item.TONumber }} </div>
                            </tr>
                            <tr class="tr">
                                <div class="amount"> {{ item.TotalPrice | currency: 'BD '}} </div>
                            </tr>
                            <tr class="tr">
                                <div class="details" *ngIf="item.Details" (click)="OrderDetails(item)"> {{item.Details}} Details >>> </div>
                                <div class="details" *ngIf="!item.Details" (click)="OrderClose()"> {{item.Details}} Close >>> </div>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </mat-card>

        <mat-card class="card-picture">
            <h5 class="h5"> Order Details {{OrderNo}} </h5>
            <br>
            <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                    <span fxFlex="100%" class="text-center bg-maroon"> Add all items to Shopping Bag </span>
                </mat-card-title>
                <hr>
                <div>
                    <table>
                        <thead>
                            <tr class="tr">
                                <!-- <th colspan="2"> Order # {{ item.OrderNo }} </th> -->
                                <th colspan="6">&nbsp;
                                    <div class="address" (click)="OrderDetails(item)"> Details Address </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of orserdetails; index as itemed" class="tr">
                                <td>{{ item.OrderNo }}</td>
                                <td> <img class="img-cart" src="../assets/img/product/feature/{{item.ImgPath}}"></td>
                                <td>{{ item.PName}}</td>
                                <td>{{ item.ItemQty}} </td>
                                <td>{{ item.UnitPrice | currency: 'BD '}} </td>
                                <td>{{ item.PQty }} Pic </td>
                            </tr>
                        </tbody>
                        <hr>
                    </table>
                </div>
                <!-- <div class="emptyCart">
                    <div>
                        <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-504/Default/components/header/ShoppingCart/images/emptyShoppingBag.png?q=low&amp;webp=1&amp;alpha=1">
                    </div>
                    <span style="padding: 10px;">Your shopping bag is empty. Start shopping</span>
                </div> -->
            </form>
        </mat-card>

    </div>
</div>