<div class="p-3">
    <mat-card class="card-picture" style="border-top-left-radius:3em; padding: 0px;">
        <mat-card-title style="display: grid;">
            <img class="features" src="../assets/img/product/feature/{{featureItem.ImgPath}}">
            <mat-card-subtitle class="round"> ID#123456</mat-card-subtitle>
        </mat-card-title>
        <div class="imageWrapper">
            <div class="overlay text">
                <div class="row">
                    <p class="addIcon">
                        <mat-icon class="hide" matBadgeColor="warn" style="color: whitesmoke;" (click)="RemoveFromBag(featureItem)">indeterminate_check_box</mat-icon>
                    </p>
                    <p class="addText" (click)="AddRowQtyAfter(featureItem)"> Add to Shopping Bag </p>
                    <p class="addIcon">
                        <mat-icon class="hide" matBadgeColor="warn" style="color: whitesmoke;" (click)="AddRowQtyAfter(featureItem)"> add </mat-icon>
                    </p>
                </div>
                <span>
                    <a href="#" class="btnShowDetails">
                        <span>Details</span>
                <span> &gt;</span></a>
                <a href="#" class="btnShowDetailsIcon"></a>
                </span>
            </div>
        </div>
        <mat-card-footer fxLayoutAlign="space-around center">
            <!-- class="card-body" -->
            <mat-icon matBadgeColor="warn" style="color: whitesmoke;" (click)="RemoveFromBag(featureItem)"> indeterminate_check_box</mat-icon>
            <mat-icon matBadgeColor="warn" style="color: whitesmoke;" (click)="AddToBag(featureItem)"> directions_run</mat-icon>
            <span>{{individualItemCount}} in bag </span> <span (click)="AddToBag(featureItem)"> add to bag </span>
        </mat-card-footer>

    </mat-card>
</div>