<div class="p-3">
    <mat-card class="card-picture" style="border-top-left-radius:3em; padding: 0px;">
        <mat-card-title style="display: grid;">
            <img class="features" src="../assets/img/product/feature/{{featureItem.ImgPath}}">
            <mat-card-subtitle class="round"> ID#{{("00000000"+featureItem.PID).slice(-7)}} </mat-card-subtitle>
        </mat-card-title>
        <div class="imageWrapper">
            <!-- <div class="overlay text">
                <div class="row">
                    <p class="addIcon">
                        <mat-icon class="hide" matBadgeColor="warn" style="color: whitesmoke;" (click)="onRemoveFromBag(featureItem)">indeterminate_check_box</mat-icon>
                    </p>
                    <p class="addText" (click)="onAddToBag(featureItem)"> Add to Shopping Bag </p>
                    <p class="addIcon">
                        <mat-icon class="hide" matBadgeColor="warn" style="color: whitesmoke;" (click)="onAddToBag(featureItem)"> add </mat-icon>
                    </p>
                </div>
                <span>
                    <a href="#" class="btnShowDetails">
                        <span>Details</span>
                <span> &gt;</span></a>
                <a href="#" class="btnShowDetailsIcon"></a>
                </span>
            </div> -->

            <!-- <div class="overlay text">
                <section class="actionItems">
                    <p class="total">
                        <span>৳ </span>
                        <span>480</span></p>
                    <div>
                        <p class="remove">-</p>
                        <p class="quantity">
                            <span>1</span></p>
                        <p class="add">+</p>
                    </div>
                </section>
                <p class="inBag">in bag</p>
                <span>
            <a href="#" class="btnShowDetails" >
                <span >Details</span>
                <span>  &gt;</span>
                </a>
                <a href="#" class="btnShowDetailsIcon">
                </a>
                </span>
            </div> -->

            <div class="stockout overlay text">
                <p class="addText">OUT OF STOCK</p>
                <span>
                    <a href="#" class="btnShowDetails" >
                        <span >Details</span>
                <span>  &gt;</span>
                </a>
                <a href="#" class="btnShowDetailsIcon">
                </a>
                </span>
            </div>
        </div>
        <mat-card-footer fxLayoutAlign="space-around center">
            <!-- class="card-body" -->
            <mat-icon matBadgeColor="warn" style="color: whitesmoke;" (click)="onRemoveFromBag(featureItem)"> indeterminate_check_box</mat-icon>
            <mat-icon matBadgeColor="warn" style="color: whitesmoke;" (click)="onAddToBag(featureItem)"> directions_run</mat-icon>
            <span>{{individualItemCount}} in bag </span> <span (click)="onAddToBag(featureItem)"> add to bag </span>
        </mat-card-footer>

    </mat-card>
</div>