/* 
.container {
    max-width: 1820px;
} */

.search {
    background: #4abfbf;
    height: 100px;
    font-size: 30;
    padding: 10px;
}


/* .banner {
    background: #ff3b00a6;
    height: 250px;
} */

.category {
    margin: 0px 50px 0px 100px;
    padding: 50px;
    background: #f3f3f3;
}

.brand {
    margin: 0px 50px 0px 100px;
    padding: 50px;
    background: #f3f3f3;
}

.popular {
    margin: 0px 150px 0px 150px;
    padding: 20px;
    background: white;
}

.feature {
    margin: 0px 150px 20px 150px;
    padding: 20px;
    background: white;
}

.footer {
    background: #4abfbf;
    height: 70px;
    padding: 10px 150px 10px 150px;
    color: whitesmoke;
}

mat-card-title {
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    margin: 0px;
}

mat-card-content {
    font-size: 35px;
    justify-content: center;
    display: flex;
}

mat-card-footer {
    background: #ff3b00a6;
    margin: 0px;
    color: papayawhip;
}

mat-card-footer:hover {
    background: #ff5722;
    margin: 0px;
    color: papayawhip;
}

label {
    margin-bottom: 0px;
}

.mat-raised-button {
    line-height: 20px;
}

.banner {
    width: 100%;
    height: 300px;
}

.round {
    transform: rotate(-90deg);
    margin-bottom: 115px;
    background: #4abfbf;
    color: white;
    font-size: 20px;
}

mat-card-subtitle.round.mat-card-subtitle {
    height: 35px;
    font-size: 15px;
    padding: 6px;
    position: relative;
    right: -174px;
    margin: 0;
    width: 100px;
    bottom: 162px;
}

.h5 {
    font-weight: bold;
    background: #9e9e9e73;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 24px;
    width: 30px;
}

.mat-drawer-container {
    position: unset;
}

.overlay.text {
    /* display: none; */
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0;
    color: #fff;
    background-color: rgba(40, 40, 40, .75);
    text-align: center;
    height: 88%;
    width: 100%;
    border: 1px solid #CCC;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 55px;
    opacity: 0;
}

.overlay {
    position: absolute;
    overflow: hidden;
    color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}

.imageWrapper:hover .overlay.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageWrapper:hover .overlay {
    opacity: 1;
}

.imageWrapper .overlay {
    position: absolute;
    overflow: hidden;
    color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}

.overlay.text p.addText {
    height: 100px;
    width: 125px;
    color: #fff;
    font-size: 22px;
    line-height: 34px;
}

.overlay.text p.addIcon {
    height: 64px;
    margin: 75px auto 0;
    color: #fff;
    font-size: 22px;
}

.btnShowDetails {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: #fff;
    text-align: center;
    border: 0;
    width: 100%;
    color: #5e5e5e;
    font-weight: 700;
    font-size: 12px;
    padding: 3px;
    text-decoration: none;
    line-height: 20px;
}

th.mat-header-cell {
    text-align: left;
    width: 100px;
}

table {
    width: 100%;
}

.order {
    background: #ff8182;
    border: none;
    color: #fff;
    font-size: 17px;
}

.price {
    background: #e04f54;
    border: none;
    color: #fff;
    font-size: 17px;
}