<div style="padding: 13px;" class="container">
    <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }} </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
        <mat-card style="margin-top:10px;" *ngIf="!submitted">
            <h2 class="text-center" style="text-align: center;"><i class="fa fa-check "></i> Product List </h2>

            <hr>

            <mat-card-subtitle fxLayoutGap="10px">
                <span fxFlex="5%"> Sl No </span>
                <span fxFlex="10%"> Name </span>
                <span fxFlex="60%"> Description </span>
                <span fxFlex="10"> Price </span>
                <span fxFlex=""> Details </span>

            </mat-card-subtitle>

            <mat-card-subtitle *ngFor="let item of products; index as itemid ">
                <mat-card-subtitle fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="10px">
                    <img src="../assets/img/member/Mahatab.png" *ngIf="!imgURL" class="rounded-circle" alt="...">
                    <span fxFlex="5%"> {{ itemid + 1 }} </span>
                    <span fxFlex="10%"> {{item.name }} </span>
                    <span fxFlex="60%"> {{item.description }} </span>
                    <span fxFlex="10"> {{item.price }} </span>
                    <a mat-raised-button [routerLink]="['/productdetails', item.productId]" [disabled]="![productId]" style="background-color:transparent;">
                        <mat-icon fxFlex="1%"> list </mat-icon>
                    </a>
                </mat-card-subtitle>
            </mat-card-subtitle>

        </mat-card>
    </div>
</div>