<div class="topicPage" style="margin-top: 50px;">
    <div class="page-bg-image" data-reactid=".2e5stz39ouw.6.2.0.0.0.0">
        <div style="background-image: url('https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-611/Default/components/page/Topic/images/contact2.png?q=best&webp=1&alpha=1')"> </div>
        <div class="page-image" style="background-image: url('https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-611/Default/components/page/Topic/images/contact2.png?q=best&webp=1&alpha=1'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
        <div class="page-title" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.1">Contact Us</div>
        <div class="link-section" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2">
            <ul class="page-link" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0">
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_0"><a class="itemLinks" href="/t/Help" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_0.0">FAQ</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_0.1"></span></li>
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_1"><a class="itemLinks" href="/t/AboutUs" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_1.0">Our Story</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_1.1"></span></li>
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_2"><a class="itemLinks" href="/t/Team" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_2.0">Team</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_2.1"></span></li>
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_3"><a class="itemLinks" href="/t/Career" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_3.0">Career</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_3.1"></span></li>
                <li class="links selectedLink" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_4"><a class="itemLinks" href="/t/ContactUs" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_4.0">Contact Us</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_4.1"></span></li>
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_5"><a class="itemLinks" href="/t/PrivacyInfo" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_5.0">Privacy Policy</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_5.1"></span></li>
                <li class="links" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_6"><a class="itemLinks" href="/t/TermsOfUse" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_6.0">Terms of Use</a><span class="itemUnderline" data-reactid=".2e5stz39ouw.6.2.0.0.0.0.2.0.$link_6.1"></span></li>
            </ul>
        </div>
    </div>

</div>