.mat-card{
    background-color:#e39c56 !important;    
    min-height: 600px;
    padding:50px;
    min-height: 700px;
  }
  
img {  
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}