<!-- <div class="container ">
    <div class="col-lg-12 col-md-12 col-sm-12">

        
<div style="padding: 13px; width:135%" class="container">
    <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }} </div>

    
</div>
    </div>
</div> -->

<div style="margin: 13px;">
    <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }} </div>

    <div fxLayout="row">
        <mat-card class="card-picture">

            <nav class="nav nav-info nav-fill header-nav">
                <h3 class="text-center">
                    <img src="../assets/img/member/Mahatab.png" *ngIf="!imgURL" class="rounded-circle" alt="...">

                </h3>
                <a class="nav-item nav-link active text-left" href="#">
                    <a class=" fa-2x"> Andrea Pierce </a>
                    <br>
                    <a class="text-left"> info@gmail.com </a>
                </a>
            </nav>


            <nav class="nav flex-column">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"> Home </a>
                <a class="nav-link" [routerLink]="['/addnew']"> Add New </a>
                <a class="nav-link" [routerLink]="['/signup']"> Logout </a>
                <a class="nav-link" [routerLink]="['/login']"> Login </a>

                <a class="nav-link" [routerLink]="['/product']"> Product </a>

            </nav>
        </mat-card>
    </div>
</div>