<!-- <div id="cartnav" class="sidepanel" style="margin-top: 55px; height: 900px; Z-INDEX: 9999;">
    <a href=" javascript:void(0)" class="closebtn" (click)="navService.openNavCart()">&times;</a>
    <mat-card class="card-picture ">
        <nav class="nav nav-info ">
        </nav>

        <div class="mat-elevation-z8 ">
            <h5 class="text-center h5 ">
                <mat-icon matBadgeColor="warn ">directions_run </mat-icon> Express Delivery
            </h5>
            <h5 class="text-center ">
                {{totalItems}} Items | Total: Tk. {{totalAmounts}}
            </h5>
            <div *ngIf="totalItemsCount ">
                <table mat-table [dataSource]="commercialModels ">

                    <ng-container matColumnDef="Add">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element " (click)="AddRowQty(element) "> {{element.Add}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element "> {{element.Name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Qty">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element "> {{element.Qty}} </td>
                    </ng-container>


                    <ng-container matColumnDef="UnitPrice">
                        <th mat-header-cell *matHeaderCellDef> UnitPrice </th>
                        <td mat-cell *matCellDef="let element "> {{element.UnitPrice}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Close">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element " (click)="DeleteRow(element) "> {{element.Close}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                </table>

                <h5 class="text-center h5 " style="position: relative;top: 52px; ">
                    <div class=" ">
                        <mat-button-toggle-group (click)="PlaceOrder(totalItemsPrice) " color="accent " [totalPrice]="totalItemsPrice " name="fontStyle " aria-label="Font Style ">
                            <mat-button-toggle value="italic " class="order ">
                                Place Order </mat-button-toggle>
                            <mat-button-toggle value="underline " class="price ">Tk. {{totalItemsPrice}}
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </h5>
            </div>
        </div>
    </mat-card>
</div> -->