<ngb-carousel *ngIf="brands" interval="1500">
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[0]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[2]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[3]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[4]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[5]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[6]" alt="Random first slide">
            </div>

        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[7]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[8]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[9]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[10]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[11]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[12]" alt="Random first slide">
            </div>

        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[13]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[14]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[15]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[16]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[17]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[18]" alt="Random first slide">
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[19]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[20]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[21]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[22]" alt="Random first slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[23]" alt="Random second slide">
            </div>
            <div class="picsum-img-wrapper col-lg-2">
                <img [src]="brands[24]" alt="Random first slide">
            </div>
        </div>
    </ng-template>
</ngb-carousel>


<!-- <mat-card class="card-picture m-3">
    <mat-card-title fxLayout.gt-xs="5%" fxLayout.xs="column" class="rounded-circle border border-dark">
        <img mat-card-md-image src="../assets/img/member/1111.jpg" alt="LG" fxLayoutAlign="space-around center">
    </mat-card-title>
    <mat-card-footer fxLayoutAlign="space-around center"> APPLE </mat-card-footer>
</mat-card> -->