<div class="contains">
    <!-- <mat-card *ngIf="!submitted"> -->
    <p class="text-center" style="height: 100px;">
        <img class="features" src="../assets/img/product/banner/{{featureItem[1]}}">
        <!-- <img src="https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-611/Default/components/page/Topic/images/terms2.png?q=best&webp=1&alpha=1" *ngIf="!imgURL" alt="{{message}}"> -->
    </p>
    <h4 class="text-center" style="color: wheat;"> {{featureItem[0]}} </h4>
    <!-- </mat-card> -->
</div>
<div class="offset-2 col-8">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{link.label}}
    </a>
    </nav>
</div>